# Исключаем настройки PHPStorm, мы в нём работаем
/.idea/


# Исключаем папку /bitrix кроме некоторых подпапок
/bitrix/
/news/
/pub/
/search/
/store/
/upload/
/about/
/catalog/
/desktop_app/
/images/
/include/
/personal/
/auth/
/login/

.access.php
.bottom.menu.php
.left.menu_ext.php
.personal.menu.php
.section.php
.top.menu.php
404.php
favicon.ico
index.php
sect_bottom.php
sect_sidebar.php
storage.php
urlrewrite.php

# различные системные папки и файлы хостингов и операционных систем
/cgi-bin/
/awstats/
/webstat/
.DS_Store
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db

# исключаем все текстовые и подобные ресурсы (на нашей практике они всегда излишни)
*.xml
*.html
*.txt
*.log
*.css.map

# архивы, включая многотомные
*.zip
*.zip*
*.tar
*.tar*
*.enc
*.enc*
*.gz
*.gz*
*.tgz
*.tgz*
*.sql
*.rar
.hg
.ftpconfig
*.doc
*.docx
*.pdf
*.rtf
*.xls
*.xlsx
*.ppt
*.pptx
*.psd
*.psb
*.sketch
core.*


